.screen-header {
  display: flex;
  position: sticky;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 10px;
  margin-top: 15px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}
.screen-header__icons span {
  margin-left: 20px;
}
.screen-header__icon {
  position: relative;
}
.screen-header__icons--ellipsis {
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  display: block;
  position: absolute;
  right: -8px;
  bottom: 17px;
}

@keyframes rotateGear {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}
.screen-header__icons .fa-gear:hover {
  animation: rotateGear 1s linear infinite;
}
.screen-header__icons .fa-music:hover {
  animation: rotateGear 1s linear infinite;
}
.screen-header__icons .fa-comment-dots:hover {
  animation: rotateGear 1s linear infinite;
}
.screen-header__icons .fa-search:hover {
  animation: rotateGear 1s linear infinite;
}
