* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Nunito", sans-serif;
  background-color: #f6f6f6;
}
h2 {
  font-size: 30px;
  font-weight: 700;
}
h3 {
  font-size: 20px;
  font-weight: 800;
}
h5 {
  font-size: 16px;
  font-weight: 700;
  color: rgba(0, 0, 0, 60%);
}
.main {
  /* width: 2000px;
  height: 2000px; */
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.listpage,
.playpage {
  width: 450px;
  height: 900px;
  /* border: 2px solid black; */
  border-radius: 30px;
  margin: 50px;
  background-color: white;
}
.header {
  padding: 30px 30px;
  display: flex;
  justify-content: space-between;
}
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
}
.profile__img {
  padding-bottom: 30px;
}
.profile__img img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
}
.profile__detail {
  padding-top: 20px;
}
.profile__setting {
  padding: 40px 0px;
}
.profile__settingd-shuffle {
  width: 130px;
  height: 50px;
  border: 0;
  border-radius: 30px;
  background-color: #1f1f1f;
  font-size: 20px;
  color: #d1d1d1;
  margin-right: 15px;
}
.profile__settingd-like {
  width: 130px;
  height: 50px;
  border: 0;
  background-color: transparent;
  font-size: 20px;
  color: #9d989f;
}
.list {
  padding: 0 25px;
}
.list li {
  display: flex;
  align-items: center;
  margin: 10px 20px;
  gap: 25px;
}
.list__content {
  width: 80%;
}
.list__img img {
  width: 70px;
  height: 70px;
  border-radius: 20px;
}
.list__content-name {
  padding-bottom: 10px;
}
.play {
  width: auto;
  height: 70px;
  border: 0;
  border-radius: 40px;
  background-color: #1f1f1f;
  font-size: 20px;
  margin: 30px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.play__detail {
  margin-left: 30px;
}
.play__detail-name {
  margin-bottom: 10px;
  color: #656565;
}
.play__detail-title {
  color: #d1d1d1;
}
.play__button {
  width: 110px;
  margin-right: 20px;
  display: flex;
  justify-content: space-evenly;
  color: #d1d1d1;
}
.list li i {
  color: #757575;
}
.album {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.album img {
  width: 300px;
  height: 300px;
  border-radius: 30px;
  margin-top: 100px;
  filter: drop-shadow(5px 15px 10px #ffc4b3);
}
.album__detail {
  margin-top: 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.album__detail-title {
  margin-bottom: 20px;
}

.playbar {
  margin: 50px 40px;
}
.playbar__time {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #757575;
}
.playbar__line-graybar {
  border: 2px solid rgba(0, 0, 0, 40%);
  border-radius: 20px;
  margin-top: 10px;
}
.playbar__line-blackbar {
  position: relative;
  border: 2px solid rgba(0, 0, 0, 90%);
  border-radius: 20px;
  bottom: 3.1px;
  width: 65%;
}
.playbar__line-dot {
  width: 10px;
  height: 10px;
  border: 2px solid rgba(0, 0, 0, 90%);
  border-radius: 50%;
  background-color: #000000;
  position: relative;
  bottom: 11px;
  left: 65%;
}
.playbutton {
  margin: 80px;
  display: flex;
  justify-content: space-between;
}
.playbutton .fa-sync,
.fa-random {
  color: rgba(0, 0, 0, 20%);
}
.playbutton__play {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #000000;
  bottom: 13px;
  /* right: 362px; */
  /* bottom: 150px; */
}
.playbutton__play .fa-play {
  position: absolute;
  color: white;
  left: 17.5px;
  top: 16px;
}
